In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("data.csv")

In [3]:
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
temp_data=data.drop(['date','street'],axis=1)
temp_data.head(10)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip,country
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,Shoreline,WA 98133,USA
1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,Seattle,WA 98119,USA
2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,Kent,WA 98042,USA
3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,Bellevue,WA 98008,USA
4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,Redmond,WA 98052,USA
5,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,Seattle,WA 98115,USA
6,335000.0,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,Redmond,WA 98052,USA
7,482000.0,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,Maple Valley,WA 98038,USA
8,452500.0,3.0,2.50,2430,88426,1.0,0,0,4,1570,860,1985,0,North Bend,WA 98045,USA
9,640000.0,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,Seattle,WA 98115,USA

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
temp_data['city'] = encoder.fit_transform(temp_data['city'])
temp_data['statezip'] = encoder.fit_transform(temp_data['statezip'])
temp_data['country'] = encoder.fit_transform(temp_data['country'])
temp_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip,country
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,36,62,0
1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,35,58,0
2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,18,26,0
3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,3,7,0
4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,31,31,0

In [6]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
imputer.fit(temp_data)

SimpleImputer(strategy='median')

In [7]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4600 non-null   float64
 1   bedrooms       4600 non-null   float64
 2   bathrooms      4600 non-null   float64
 3   sqft_living    4600 non-null   int64
 4   sqft_lot       4600 non-null   int64
 5   floors         4600 non-null   float64
 6   waterfront     4600 non-null   int64
 7   view           4600 non-null   int64
 8   condition      4600 non-null   int64
 9   sqft_above     4600 non-null   int64
 10  sqft_basement  4600 non-null   int64
 11  yr_built       4600 non-null   int64
 12  yr_renovated   4600 non-null   int64
 13  city           4600 non-null   int32
 14  statezip       4600 non-null   int32
 15  country        4600 non-null   int32
dtypes: float64(4), int32(3), int64(9)
memory usage: 521.2 KB

In [8]:
# Train_Test_Split
from sklearn.model_selection import train_test_split
train_data,test_data=train_test_split(temp_data,test_size=0.2,random_state=42)
train_data_features=train_data.drop("price",axis=1)
train_data_labels=train_data['price'].copy()
test_data_labels=test_data['price'].copy()

In [13]:
# Model Selection
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error  
import numpy as np  

model = LinearRegression()
model.fit(train_data_features, train_data_labels)


predictions_result = model.predict(train_data_features)  
predictions_result
mse = mean_squared_error(train_data_labels, predictions_result)  # Corrected to use train_data_labels
print(mse)

157292.40670031527

In [10]:
from sklearn.metrics import r2_score
accuracy2=r2_score(predictions_result,train_data_labels)
print(accuracy2*100)

17.848311715680087